<%= form_tag konwersja_kont_path, :method => 'get', :id => "konwersja_kont_search" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Szukaj", :name => nil %>
  </p>
<% end %>
